<!DOCTYPE html>



{{>copyright }}

<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPX {{SPX.title}} | {{lang 'pagetitle.login'}}</title>
  <link rel="icon" type="image/png" href="/img/spx-gc.ico">
  <link rel="stylesheet" type="text/css" href="/css/spx_fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_layout.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_forms.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_colors.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_modal.css">
  <style>
    .l:link, .l:visited{color:#000000}
    .l:link:hover{color:#ffd000}

  .login {
    width: 60%;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    z-index: 20;
    padding: 0.3em;
    background-color: #414C5A;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
    vertical-align: middle;
  }


  </style>
</head>



<body class="bg_body">
  <form name="login" id="login" method="post" action="/">
  <div class="">
    <div class="contentXX">
      <div class="login" style="width: 40%; border:0px solid yellow; border-radius:0.8em;">
          <table style="width: 100%; height:100%; border:0px solid yellow;" cellspacing="20" border="0">
            <tr>
              <td align="center">
                <a href="https://spx.graphics" target="_blank"><img src="/img/SPX_glossy_255_Transparent_Shadow.png" style="height: 7.0em;"></a>
                {{!-- <h1 style="padding:0px; margin:0px;">SPX Graphics</h1> --}}
                <BR>
               <div class="spxTableHeadsmall" style="margin: 1em; font-size: 0.7em; opacity:0.6; line-height: 1.2em; width:80%;">
               {{lang 'general.slogan'}}<BR>
                </div>
              </td>
            </tr>
            <tr>
              <td align="center">
                <table style="width: 90%; border-radius:1em; background-color: #ffffff11;" cellspacing="25" border="1">
                  {{{ShowDemoLoginInfo}}}
                  <tr>
                    <td class="vmid spxTableHeadsmall" style="height: 1.6em; text-transform:uppercase;">Username</td>
                    <td ><input type="text" class="wide gcinput" name="username" autofocus value=""></td>
                  </tr>
                  <tr>
                    <td class="vmid spxTableHeadsmall" style="height: 1.6em; text-transform:uppercase;">password</td>
                    <td ><input type="password" class="wide gcinput" name="password" value=""></td>
                  </tr>
                  <tr>
                    <td colspan="2" class="vmid center">
                      <div class="spxFlexContainer">
                        <input type="submit" class="spxformtext btn spxFlexItem bg_blue ripple" value="Login" style="margin:0.0em 0em 0.7em;">
                        {{!-- <button class="spxformtext btn spxFlexItem bg_blue ripple" onclick="github()">Github</button> --}}
                      </div>
                      <span style="font-size: 0.55em; opacity:0.9; color:#000000;">
                        v.{{{ShowVersion}}} | <a class="l" href="https://spx.graphics/contact">&copy; 2020- SPX Graphics</a></span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
      </div><!-- center wrapper ended -->
    </div><!-- content ended -->
  </div><!-- MAINwrapper ended -->
  </form>
  <!--

  BUG! BUG! BUG!
  
  If you are seeing this text in SPX terminal / console, you 
  are facing a bug in action. This is not a normal behavior.
  The reason is mosty likely that SPX has been configured to
  only work when a user is logged in. If you are seeing this
  text, it means that SPX is trying to show you the login page
  but in an incorrect way.

  This will be fixed in a future release. In the meantime,
  disable logging (remove config) and restart the server.

  ###  SORRY! YOU ARE WITNESSING A BUG!!  ###
  ###  Please read the text above here..  ### 
-->
</body></html>