<!DOCTYPE html>
{{>copyright }}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPX{{SPX.title}} | {{lang 'pagetitle.select'}}</title>
  <link rel="icon" type="image/png" href="/img/spx-gc.ico">
  <link rel="stylesheet" type="text/css" href="/css/spx_fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_layout.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_forms.css">
  <link rel="stylesheet" type="text/css" href="/css/spx_colors.css">
  <script src="/js/axios.min.js"></script>
  <script src="/js/fontawesome.all.min.js"></script>
  <script src="/js/anime.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/spx_gc.js"></script>

<style>
    .box {
      position: relative;
      display: inline-block;
      background: rgba(255, 255, 255, 0.671);
      padding: 0.6em 1em;
      text-align: center;
      color: rgba(0, 0, 0, 0.842);
      bottom: 2px;
      left: 50px;
      font-size: 0.7em;
      border-radius: 0.5em;
  }

  .sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid transparent;
    border-left: 10px solid rgba(255, 255, 255, 0.671);;
    border-top: 10px solid rgba(255, 255, 255, 0.671);;
    border-bottom: 10px solid transparent;
    left: 40px;
    bottom: -20px;
  }

</style>


</head>


<body onload="pageInit();" class="bg_body" onmouseover="tip('');">

<input type="hidden" id="hidden_folder" value="{{folder}}">

  <div class="wrapper">
    <div class="header">
      {{>header page="episodes"}}
    </div><!-- header ended -->


    <div class="content">
      <div class="centerColumn pM wrapper ">


        <div id="itemList" class="content pM scroller" style="border: 0px solid yellow;">

          {{#if message}}
          <div class="message">{{message}}</div>
          {{/if}}

          {{#if error}}
          <div class="messagerror">{{error}}</div>
          {{/if}}


          <table class="wide" border=0>
            <TR>
              <td class="vmid tableheaderText">{{lang 'headline.selectfile'}}</td>
              <td class="vmid tableheaderHelp aright" title="{{lang 'general.help'}}" onClick="help('playlists');"><i class="far fa-question-circle"></i>&nbsp;</td>
            </TR>
          </table>
          <hr class="h2hr"><!-- =========================================== -->
          <table style="width: 100%;" cellspacing="10" border="0">

            <tr>
              <td>
                <select id="lists" size=14 class="spxformtext bg_grey40"
                style="width: 100%; height:100%; color:white; border:0px; padding:0.2em; line-height:3;"
                onmouseover="tip('{{lang 'hover.epslist'}}');"
                ondblclick="cas();" autofocus>
                {{#each files}}
                <option>{{this}}</option>
                {{/each}}
              </select><BR>
              </td>
            </tr>
          </table>

          <HR>

              {{#if files}}
                  <!-- // -->
                {{else}}
                  <div class="box sb4">{{lang 'headline.createrundowntip'}}</div>
              {{/if}}
          


          <table style="width: 100%;" cellspacing="10" border="0">
            <tr>
              <td valign="top" width="50%">
                <button onmouseover="tip('{{lang 'hover.addrundown'}}');" class="spxformtext btn bg_blue ripple"  style="margin:2px; width: 48%;" onClick="add();">{{lang 'button.addplaylist'}}</button>
                <button onmouseover="tip('{{lang 'hover.duplicaterundown'}}');" class="spxformtext btn bg_blue ripple"  style="margin:2px; width: 48%;" onClick="duplicateRundown();">{{lang 'button.duplicate'}}</button>
                <button onmouseover="tip('{{lang 'hover.renameepisode'}}');" class="spxformtext btn bg_blue ripple"  style="margin:2px;  width: 48%;" onClick="renameRundown();">{{lang 'button.rename'}}</button>
                <button onmouseover="tip('{{lang 'hover.deletepisode'}}');" class="spxformtext btn bg_blue ripple"  style="margin:2px;  width: 48%;" onClick="del();">{{lang 'button.delete'}}...</button>
              </td>
              <td valign="top">
                <button onmouseover="tip('{{lang 'hover.openrundown'}}');" class="spxformtext btn wide bg_orange ripple"  style="margin:2px;" onClick="cas();">{{lang 'button.open'}}</button>
                <button onmouseover="tip('{{lang 'hover.profile'}}');" class="spxformtext btn wide bg_grey15 ripple"  style="margin:2px;" onClick="cfg();"><i class="fas fa-cog"></i> {{lang 'button.settings'}}</button>
              </td>
            </tr>
          </table>


        </div><!-- itemlist ended -->
      </div><!-- center wrapper ended -->
    </div><!-- content ended -->


    {{>footer}}
  </div><!-- MAINwrapper ended -->








  <script>
    window.onload = function () {
      document.getElementById('lists').selectedIndex = "0";
      heartbeat(208); // page identifier
    }
  </script>
</body>
</html>